selenium
webdrivermanager
sparqlwrapper
pageviewapi
sentence-transformers
wikipedia
requests
lxml
pageviewapi
Wikipedia-API
wikidata

spacy
numpy
time
requests
re
difflib
pprint
itertools
wikipedia
wikipediaapi
wikidata
lxml.etree
xml.etree.ElementTree
urllib.request
pandas
SPARQLWrapper	
JSON
bs4
BeautifulSoup
NavigableString
Tag
sentence_transformers
SentenceTransformer
sklearn.metrics.pairwise
cosine_similarity
selenium
webdriver
selenium.webdriver
Firefox
spacy.cli
urllib.parse
urlparse
parse_qs
collections
OrderedDict
collections.abc
collections
Mapping
sklearn.feature_extraction.text
TfidfVectorizer
sklearn.metrics.pairwise
cosine_similarity
torch
transformers
AutoTokenizer
AutoModel
webdrivermanager
GeckoDriverManager
pathlib
Path
subprocess