selenium
webdrivermanager
sparqlwrapper
pageviewapi
sentence-transformers
wikipedia
requests
lxml
pageviewapi
Wikipedia-API
wikidata

spacy
numpy

requests


wikipedia
wikipedia-api
wikidata



pandas
SPARQLWrapper	

bs4
beautifulsoup4


sentence_transformers


selenium



scikit-learn

torch
transformers

webdrivermanager


Mapping
OrderedDict
Path

cosine_similarity

Firefox
urlparse
parse_qs
TfidfVectorizer
AutoTokenizer
AutoModel
GeckoDriverManager