selenium
webdrivermanager
sparqlwrapper
pageviewapi
sentence-transformers
wikipedia
requests
lxml
pageviewapi
Wikipedia-API
wikidata

spacy
numpy

requests


wikipedia
wikipedia-api
wikidata



pandas
SPARQLWrapper	

bs4
BeautifulSoup
NavigableString
Tag
sentence_transformers
SentenceTransformer
sklearn.metrics.pairwise
cosine_similarity
selenium
webdriver
selenium.webdriver
Firefox
spacy.cli
urllib.parse
urlparse
parse_qs




sklearn.feature_extraction.text
TfidfVectorizer
sklearn.metrics.pairwise
cosine_similarity
torch
transformers
AutoTokenizer
AutoModel
webdrivermanager
GeckoDriverManager

Mapping
OrderedDict
Path
